.container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  background-color: #f5f5f5;
}

.mainContent {
  display: flex;
  flex: 1;
  overflow: hidden;
}

